:root {
	--f_color:#7542FC;
	--fb_color: #555DFB;
	--s_color: #C400FF;
	--t_color: #04A2F8;
	--tw_color: #2AECFE;
	--white: #fff;
	--black: #3E3E3E;
	--m_green:#34E300;
	--m_yellow: #FFD54A;
	--m_red: #EB5151;

	--txt-xs: 12px;
	--txt-sm: 14px;
	--txt-md: 16px;
	--txt-lg: 18px;
	--txt-xl: 20px;
}

/* lineawesome ajustes */
	.la, .lab, .lad, .lal, .lar, .las {
		font-family: unset;
		font-weight: unset;
		font-size: unset;
		vertical-align: unset;
		
		} .la-inlinemark {
			line-height: normal;
		
		} .la-listitem {
			position: relative;
			display: flex;
			align-items: center;
			}

			.la-listitem::before {
				position: absolute;
				left: -1.33em;
				}
				
		.lab::before {font-family: 'Line Awesome Brands';}
		.la::before
		, .lad::before
		, .lal::before
		, .lar::before
		, .las::before {
			font-family: 'Line Awesome Free';
			font-weight: 600;
			}

		.la-xs::before {font-size: 0.55em;}
		.la-sm::before {font-size: 0.76em;}
		.la-md::before {font-size: 0.89em;}
		.la-lg::before {font-size: 1.33em;}
		.la-xl::before {font-size: 1.55em;}
		.la-2x::before {font-size: 2em;}
		.la-3x::before {font-size: 3em;}
/* fim lineawesome ajustes */

.f_color {color: var(--f_color);}
.s_color {color: var(--s_color);}
.t_color {color: var(--t_color);}
.tw_color {color: var(--tw_color);}
.b_color {color: var(--black)}
.w_color {color: var(--white)}
.r_color {color: var(--m_red);}
.bg_f_color {background-color: var(--f_color);}
.bg_fb_color {background-color: var(--fb_color);}
.bg_s_color {background-color: var(--s_color);}
.bg_t_color {background-color: var(--t_color);}
.bg_w_color {background-color: var(--white);}

.txt-xs {font-size: var(--txt-xs);}
.txt-sm {font-size: var(--txt-sm);}
.txt-md {font-size: var(--txt-md);}
.txt-lg {font-size: var(--txt-lg);}
.txt-xl {font-size: var(--txt-xl);}

.d-flex {
	display: flex;
	flex-wrap: wrap;

	} .d-flex > * {
		min-width: max-content;
		}
.f1 {flex: 1;}
.f2 {flex: 2;}
.f3 {flex: 3;}
.f4 {flex: 4;}
.f5 {flex: 5;}
.f6 {flex: 6;}

.margin_R8 {margin-right: 8px;}

.pad-content {padding: 0 calc(21px + 5%);}
.pad-L {padding-left: calc(21px + 5%);}
.pad-R {padding-right: calc(21px + 5%);}
.pad-R-2x {padding-right: calc(21px + 10%);}

.hidden {
	opacity: 0;
	visibility: hidden;
	
	transition: opacity 0.55s ease, visibility 0s 0.6s;
} 

body {
	font-family: "Poppins","Open Sans";
	color: var(--black);
} body * {
	box-sizing: border-box;
}

h1, h2, h3 {
	font-weight: normal;
	margin: 0;
}

h1 {font-size: 42px;}

h2 {font-size: 34px;}

h3 {font-size: 28px;}

a {
	color: var(--black);
	text-decoration: none;
}

label {
	font-size: var(--txt-sm);
	font-weight: bold;
	line-height: 2;
	}

input {
	display: block;
	border-radius: 0.34em;
	line-height: 3em;
	padding: 0 0.89em;
	width: 100%;

	} input, input:focus {
		border: none;
		outline: none;

	} input::placeholder {
		font-style: italic;
		font-weight: normal;
		}

.button {
	display: inline-block;
	font-weight: 500;
	padding: 0.29em 2.33em;
	border-radius: 3em;
	border: solid 1px;
	cursor: pointer;

	} .button:focus {
		outline: none;

	} .button.t2 {
		font-size: 12px;
		padding: 1.33em 3em;
		border: none;
		letter-spacing: 1.8px;
	}

.i-menu-mobile {
	display: none;
	}

.i-decoration {
	position: absolute;
	height: 89px;
	width: auto;
	}

	.i-decoration.D {
		top: 8vh;
		left: 3vw;
		}


.i-mouseroll {
	width: 100%;
	text-align: center;
	opacity: 1;
	visibility: visible;
	}

	.i-mouseroll img {
		position: fixed;
		height: 34px;
		bottom: 55px;
		

		animation: shake 2.33s infinite;
		}


header {
	display: flex;
	position: sticky;
	top: 0;
	height: 80px;
	align-items: center;
	background-color: var(--white);
	justify-content: space-between;
	box-shadow: 0px 3px 13px #664FFC1D;
	z-index: 1;
	}

	.logo {
		height: 68%;
		}

	nav a {
		margin: 1.3em;
		transition: color 1s ease;

		} nav a.active {
			color: var(--f_color);
			font-weight: 600;
			}

	submenu {
		display: flex;
		position: fixed;
		top: 79px;
		left: 0;
		right: 0;
		background-color: var(--white);
		padding: 68px calc(34px + 5%);
		box-shadow: 0px 3px 21px #5742FB39;

		opacity: 0;
		visibility: hidden;
		transition: visibility 0s 0.6s, opacity 0.55s ease;

		} submenu.active {
			visibility: visible;
			opacity: 1;

			transition: opacity 0.55s ease;
			}

		submenu > * {
			flex: 1;
			margin: 0 20px;
			}

			submenu i.las {
				display: flex;
				align-items: center;
				font-weight: bold;
				} 

				submenu i::before {
					padding-right: 8px;
					}

			submenu p {
				padding-left: 2em;
				}

.xl-card {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	
	} .xl-card:nth-of-type(even) {
		flex-direction: row-reverse;

	} .xl-card
		,	.fst-card.bgB {
		min-height: calc(100vh + 80px);

	} .fst-card {
		min-height: calc(100vh - 80px);
		background-image: url('../img/illustr_detail.png');
		background-position: left bottom;
		background-repeat: no-repeat;
		background-size: 667px auto;

	} .fst-card.bgB {
		background-position: left -21% top 400%;
    background-size: 55% auto;
		} 

	.xl-card .info-content {
		flex: 4;
		} 

		.info-content .logo {
			height: 55px;
			}

		.snd-card .info-content h2 {
			margin-top: 0.42em;
			}

		.info-content p {
			line-height: normal;
			font-size: var(--txt-xl);
			}

		.info-content a i.lab::before {
			line-height: normal;
			vertical-align: sub;
			padding-right: 5px;
			}


	.xl-card .illustr-content {
		flex: 6;
		text-align: center;
		position: relative;
		
		} .xl-card:nth-of-type(even) .illustr-content {
			flex: 5;
			}

		.illustr-content img:first-child {
			width: 42vw;
    	max-width: 68vh;
			
			} .fst-card.bgB .illustr-content img:first-child {
				max-width: 78vh;

			} .snd-card .illustr-content img:first-child {
				height: auto;
				min-width: 100%;
				margin-top: 34px
				}


	.xl-card .form-content {
		flex: 6;
		}
		
		.form-content form {
			display: flex;
			flex-wrap: wrap;
			border-radius: 13px;
			box-shadow: 0px 2px 80px #5742FB36;
			padding: 34px;
			font-size: 0;
			max-width: 800px;
			margin: auto;

			} .form-content form label
				,	.form-content form input {
					font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
					}

			.form-content label {
				display: inline-block;
				margin: -10.5px;
				border: 21px solid transparent;
				flex: 1;
				min-width: 29ch;

				} .form-content label.submit {
					display: flex;
					align-items: flex-end;
					justify-content: flex-end;
					margin: 0 -10.5px;
					border-width: 21px 21px 0;
					}

				.form-content input {
					background-color: #F2F2F4;
					color: gray;
					}



.blog_news {
	text-align: center;
	}

	.blog_posts {
		display: grid;
		grid-template-columns: repeat(auto-fill, 356px);
		grid-gap: 21px;
		justify-content: center;
		margin: 2em auto;
		padding: 0;

		} .blog_posts > * {
			display: block;
			overflow: hidden;
			box-shadow: 0px 0px 20px #7542FC2F;

		} .blog_posts > * {
			border-radius: 13px;
		
		} .blog_posts .img {
			border-radius: 13px 13px 0 0;
			}

		.blog_posts .img {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 178px;
			}

		.blog_posts p {
			font-size: var(--txt-sm);
			margin: 13px 13px 21px;
			}

		.blog_posts h4 {
			margin-bottom: 0;
			}

.subscribe {
	margin-top: 76px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 27.5px;
	padding-bottom: 27.5px;

	} .subscribe > * {
		padding: 55px;
		margin: -27.5px;
		}

	.subscribe h3 {
		max-width: 593px;
		line-height: normal;
		}
	
	.subscribe form {
		position: relative;
		width: 100%;
    max-width: 477px;

		} .subscribe form input
			,	.subscribe form label {
				border-radius: 3px;
			}

		.subscribe form input[type="email"] {
			display: inline-block;
			height: 55px;
			width: 101%;
			box-shadow: 0px 3px 20px #00000040;
			padding: 0 2em;
			}
		
		.subscribe form label[for="submit"] {
			padding: 13px 13px 13px 15px;
			cursor: pointer;
			margin-left: -53px;
			
			} .la-custon-location-arrow:before {
				content: "\27A4";
				}
			 
			
footer {
	}

	footer .socialmidia {
		background-image: url('../img/bg_footer.jpg');
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 55vh;
		text-align: center;
		}

		.socialmidia a {
			box-shadow: 0px 3px 6px #5742FB36;
			border-radius: 50%;
			background-color: var(--white);
			padding: 13px;
			margin: 21px;
			}

	footer .contato {
		display: flex;
		flex-wrap: wrap;
		margin-top: -3px;			/* shitfix */
		padding-bottom: 55px;
		background-color: #6253FC;
		
		} .contato :first-child > * {
			display: block;
			}
		
			.contato h4 {
				margin: 0;
				padding-bottom: 13px;
				}

			.contato a {
				color: var(--white);
				font-weight: normal;
				width: max-content;
				padding-bottom: 8px;
				}

			.contato img {
				height: 55px;
				width: auto;
				margin: 21px;
				}

			.contato .parceiros {
				display: flex;
				flex-wrap: wrap;
				align-content: space-evenly;
				margin-left: -21px;
				margin-top: 21px;
				max-width: 600px;
				}

	footer .facebook {
		text-align: center;
		margin-top: 21px;
		}

	footer .notes	{
		font-family: 'Open Sans';
		text-align: center;
		padding-top: 21px;
		padding-bottom: 21px;
		}


/* MOBILE */
	@media screen and (max-width: 868px) {
		.i-menu-mobile {
			display: unset;
			} 

		header{
			}

			nav {
				display: grid;
				position: fixed;
				top: 78px;
				right: 0;
				background-color: white;
				text-align: right;
				box-shadow: 0px 13px 13px #664ffc1d;
				visibility: hidden;
				opacity: 0;

				transition: visibility 0s 0.6s, opacity 0.55s ease;
				} nav.visible {
					visibility: visible;
					opacity: 1;

					transition: opacity 0.55s ease;
					}

			submenu {
				display: grid;
				top: 79px;
				left: unset;
				right: 215px;
				padding: unset;
				}

				submenu i {padding: 21px}
				submenu p {display: none;}
		
		.xl-card
		,	.xl-card:nth-of-type(even) {
			flex-direction: column-reverse;
			
			} .xl-card.snd-card {
				padding-top: 55px;
    		padding-bottom: 55px;
			
			} .xl-card#fale_conosco {
					flex-direction: column;
					}

			.xl-card .info-content {
				text-align: center;
				padding: 0 calc(21px + 5%)

			} .xl-card.snd-card .info-content {
				margin-top: -21px;

			} .xl-card#fale_conosco .info-content {
				padding-top: 80px;
				padding-bottom: 55px;
				}

			.xl-card .illustr-content {
				min-width: 68%;
				display: flex;
				align-items: flex-end;
				justify-content: center;

				} .xl-card.snd-card:nth-of-type(odd) .illustr-content {
					margin-left: auto;
				
				} .xl-card.snd-card:nth-of-type(even) .illustr-content {
					margin-right: auto;

					} .xl-card.snd-card .illustr-content img:first-child {
						margin-top: unset;
						}

		.i-decoration.D-mobile {
			top: 21vh;
			}
	}

	@media screen and (max-height: 768px) {
		h1 {font-size: 5.47vh;}
		h2 {font-size: 4.43vh;}
		h3 {font-size: 3.65vh;}
		.info-content p {font-size: 2.60vh;}

		.subscribe h3 {
			max-width: 79vh;
			}
	}

	@media screen and (max-width: 468px) {
		.i-decoration {
			display: none;
			}
	}
/* end MOBILE */

@keyframes shake {
  0% {transform: translateY(0);}
	50% {transform: translateY(55%);}
	100% {transform: translateY(0);}
}
